# Node.js dependencies
node_modules/
dist/
coverage/
.env


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS specific files
.DS_Store
Thumbs.db

# Firebase Admin SDK JSON
src/config/firebase-admin-sdk.json